body{
  background-image:url('photoburger.jpeg');
  background-position: center;
color: #FFFFFF;
display : flex;
justify-content: center;
align-items: center;
text-align: center;
height: 100vh;

}
.content {
  background-color: #ED4C67;
  width : 70vh;
  height: 70vh;
  margin: auto;
  display : flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.burgerclick {
  display: none;
}
